fastapi==0.115.13
uvicorn[standard]==0.22.0
Jinja2==3.1.2
pydantic==2.11.7
torch==2.2.0
transformers[sentencepiece]==4.53.2
datasets==4.0.0
sacrebleu==2.5.1
rouge_score==0.1.2
py7zr==1.0.0
boto3==1.39.4
mypy-boto3-s3==1.39.2
-e .
